footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #ffffff;
}

.footer-logo img {
    width: 100px;
}

.footer-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-links a {
    color: #007bff;
    text-decoration: none;
	transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.2);
}

footer p {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
}
